<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    {% if 'admin' in roles %}
        <form method="post">
            <input name='username' placeholder='username'></input>
            <button>fetch</button><br>
            {% if returnedName %}
            user - {{ returnedName[1] }}<br>
            pass - {{ returnedName[2] }}<br>
            id - {{ returnedName[0] }}
            role - {{ returnedName[3] | join(', ') }}
            {% else %}
            user not found
            {% endif %}

        </form>
        <form method="post">
            <input placeholder='username' name='makeUser' ></input>
            <input name='makepassword' placeholder='password'></input>
            <input name='role' placeholder='member'></input>
            <button>make</button>
        </form>
    {% endif %}
    <form method="get">
        {% if loggedIn %}
        logged in as {{ loggedIn }}<br>
        Roles: {{ roles | join(', ') }}
        {% else %}
        user with such credentials not found
        {% endif %} 
    </form>
</body>
</html>